/* Reset some basic elements */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #ffcb05; /* Pokemon Yellow */
    color: #3d7dca; /* Pokemon Blue */
    padding: 20px 0;
}

header h1 {
    text-align: center;
}

form.menu {
    display: flex;
    flex-direction: column;
    gap: 10px; /* space between items in the form */
}

form.menu fieldset {
   border:none; 
   padding-bottom :10px; 
}

form.menu select,
form.menu input[type="checkbox"],
form.menu input[type="submit"]{
    margin-top :10px ;
    padding :5px ;
    border-radius :5px ;
    border :1px solid gray ;
}


#controls label{
    display:block ; 
    margin-top :5px ; 
    color:#3d7dca ; 
    font-weight:bold ; 
}
#controls input[type="submit"]{
    background-color:#3d7dca ;  
    color:white ;
    cursor:pointer ;
}
#controls input[type="submit"]:hover{
    background-color:#23527c ;  
}
footer {
    padding-top :20px ;
    text-align:center ; 
}
